* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: azure;
    color: black;
    height: 5rem;
    line-height: 5rem;
}

img {
    height: 150px;
    width: 150px;
    /*object-fit: cover;*/
    border-radius: 10%;
}

.choice {
    height: 175px;
    width: 175px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    /*opacity: 0.4;*/
    cursor: pointer;
    background-color: beige;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0.5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 3rem;
}

#msg {
    background-color: bisque;
    color: black;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}


